{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'article/css/article.css' %}">
{% endblock %}
{% block heading %}新增文章{% endblock %}
{% block content %}
<form  id="articleForm" method="post" action="{% url 'article:articleCreate' %}">
  {% csrf_token %}
  {{ articleForm.as_p }}
</form>
<form id="deleteForm" ...>
...
</form>

<input form="articleForm" class="btn" type="submit" value="送出">
<input form="deleteForm" class="btn" type="submit" value="刪除">
<a class="btn" href="...">放棄</a>


{% endblock %}